# SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

/ForneverMind/wwwroot/app/
/ForneverMind/wwwroot/plans/
/ForneverMind/server.js

bin/
node_modules/
obj/
out/
