/.idea/
/packages/
/.vs/

/EvilPlanner.Frontend/node_modules/
/EvilPlanner.Frontend/typings/
/EvilPlanner.Frontend/*.js
!/EvilPlanner.Frontend/webpack.config.js
/EvilPlanner.Frontend/*.js.map
/EvilPlanner.Frontend/dist/

bin/
obj/

*.user
