@page
@model ForneverMind.Razor.BasePageModel

<!--
SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>

SPDX-License-Identifier: MIT
-->

@{
    ViewBag.Title = "Page Not Found";
    Model.Response.StatusCode = 404;
}

<p>The requested page does not exist.</p>
