<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>F. von Never — @ViewBag.Title</title>
    <!--<base href="System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]"/>
    TODO[F]: Fix base url determination here. -->
    <link rel="alternate" type="application/rss+xml" href="./rss.xml" title="RSS Feed"/>
    <link rel="stylesheet" type="text/css" href="app/app.css"/>
    <script src="app/app.js" async></script>
</head>
<body>

<div id="header">
    <div id="logo">
        <a href="./">Инженер, программист, джентльмен</a>
    </div>
    <div id="navigation">
        <a href="./archive.html">Посты</a>
        <a href="./talks.html">Доклады</a>
        <a href="./contact.html">Контакты</a>
        <a href="./plans/index.html">Планы</a>
    </div>
</div>

<div id="content">
    <h1>@ViewBag.Title</h1>

    @RenderBody()
</div>
<footer>
    <div>
        <a class="tag" href="./rss.xml">RSS</a>
        <a class="tag" href="https://github.com/ForNeVeR/fornever.me">GitHub</a>
    </div>
    <div>
        Сайт использует библиотеку
        <a href="http://docs.freya.io/en/latest/">Freya</a>
    </div>
</footer>
@RenderSection("scripts", false)

</body>
</html>
