@using RazorEngine.Templating
@inherits TemplateBase

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Контакты";
}

<p>
    <a class="so-badge" href="http://stackoverflow.com/users/2684760/fornever">
        <img src="http://stackoverflow.com/users/flair/2684760.png"
             width="208"
             height="58"
             alt="мой профиль на Stack Overflow"
             title="мой профиль на Stack Overflow" />
    </a>
</p>
<p>Я в “социальных” сетях:</p>
<ul>
    <li><a href="https://github.com/ForNeVeR">GitHub</a></li>
    <li><a href="https://bitbucket.org/ForNeVeR">Bitbucket</a></li>
    <li><a href="https://twitter.com/fvnever">Twitter</a></li>
</ul>
<p>На Хабрахабре: <a href="http://habrahabr.ru/users/ForNeVeR/">ForNeVeR</a></p>
<p>
    Пишите мне по почте (<a href="mailto:friedrich@fornever.me"
                            class="email">friedrich@fornever.me</a>) или в
    Jabber
    (<a href="xmpp:fornever@codingteam.org.ru">fornever@codingteam.org.ru</a>).
</p>
<p>
    Приходите в наше XMPP-сообщество:
    <a href="xmpp:codingteam@conference.jabber.ru">codingteam@conference.jabber.ru</a>.
</p>
