@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Доклады";
}

<ul>
    <li><a href="/talks/modern-programming/index.html">Современное программирование</a> (АлтГТУ, 2016-11-18)</li>
    <li><a href="/talks/net-core-slides/index.html">.NET Core</a> (Энтерра, 2017-03-17)</li>
</ul>
