<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="EvilPlannerContext"
		     connectionString="Data Source=(localdb)\.\EvilPlanner;Initial Catalog=EvilPlannerStaging;Integrated Security=True"
		     providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>