<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="BaseUrl" value="https://fornever.me/plans/"/>
	</appSettings>

	<connectionStrings>
		<add xdt:Locator="Match(name)"
             xdt:Transform="SetAttributes"
             name="EvilPlannerContext"
		     connectionString="Data Source=(localdb)\.\EvilPlanner;Initial Catalog=EvilPlanner;Integrated Security=True"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="false" targetFramework="4.6" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
</configuration>
