.so-badge { float: right }

body {
    color: #000;
    font-size: 16px;
    margin: 0 auto;
    width: 770px
}

body img { max-width: 100% }

div#header {
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
    padding: 12px 0
}

div#header #navigation { text-align: right }

div#header #navigation a {
    margin-left: 12px;
    text-transform: uppercase
}

div#header #navigation a, div#logo a {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none
}

div#logo a { float: left }

footer {
    border-top: 2px solid #000;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0;
    display: flex;
    justify-content: space-between
}

h1 { font-size: 24px }

h2 { font-size: 20px }

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic
}

a.secret-link {
    cursor: default;
    color: inherit;
    text-decoration: inherit
}

.tag {
    background: #000;
    color: #fff;
    padding: 1px 3px;
    border-radius: 5px;
    text-decoration: none;
    transition: .25s
}

.tag:hover { background: #555 }

blockquote {
    margin: 0;
    padding-left: 2em;
    border-left: 5px solid #f0f8ff;
    overflow: auto
}

blockquote p { margin: .25em 0 }

pre {
    border-radius: 5px;
    padding: 5px;
    overflow-x: auto;
    tab-size: 4
}

code, pre {
    background-color: #c4e4e8;
    color: #052c36
}

code {
    display: inline-block;
    border-radius: 4.5px;
    padding: 2.5px;
    margin: -2.5px
}

body { font-family: Arial, Helvetica, sans-serif }

code, pre {
    font-family: Liberation Mono, Lucida Console, Andale Mono, DejaVu Sans Mono, monospace;
    font-size: 14px
}
