blockquote {
	border: 1px solid black;
	border-radius: 2px;
	margin: 1em 5%;
	padding: 0.5em;	
}

a.source-link::before {
	content: '— ';
	text-decoration: none;
}

a.source-link {
	display: block;
	width: 90%;
	text-align: right;
	margin: 0 5%;
}
