<!--
SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>

SPDX-License-Identifier: MIT
-->

@{
    Layout = "ru/_Layout.cshtml";
    ViewBag.Title = "Страница не найдена";
}

<p>Страница по этому адресу не существует.</p>
