@{
    Layout = "ru/_Layout.cshtml";
    ViewBag.Title = "Контакты";
}

<p>
    <a class="so-badge" href="https://stackoverflow.com/users/2684760/fornever">
        <img src="https://stackoverflow.com/users/flair/2684760.png"
             width="208"
             height="58"
             alt="Мой профиль на Stack Overflow"
             title="Мой профиль на Stack Overflow" />
    </a>
</p>
<p>Мои профили на онлайн-ресурсах:</p>
<ul>
    <li><a href="https://github.com/ForNeVeR">GitHub: ForNeVeR</a></li>
    <li><a href="https://twitter.com/fvnever">Twitter: @@fvnever</a></li>
    <li><a href="https://dotnet.social/@@fornever">Mastodon: @@fornever@@dotnet.social</a></li>
</ul>
<p>
    Пишите мне по почте: <a href="mailto:friedrich@fornever.me" class="email">friedrich@fornever.me</a>.
</p>
