<!--
SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>

SPDX-License-Identifier: MIT
-->

@{
    Layout = "ru/_Layout.cshtml";
    ViewBag.Title = "Ошибка сервера";
}

<p>При обработке запроса произошла внутренняя ошибка сервера.</p>
