@model ForneverMind.Models.PostArchiveModel

@{
    Layout = "ru/_Layout.cshtml";
    ViewBag.Title = "int 20h";
}

<p>Привет!</p>

<p>Меня зовут <a href="http://unesdoc.unesco.org/images/0021/002116/211619e.pdf" title="Ненастоящий доктор, но UNESCO разрешает мне называть себя так">Dr.</a> Friedrich von Never.</p>

<p>
    В основном здесь, на сайте, публикуются различные технические заметки, так
    или иначе связанные с моей основной деятельностью — программированием.
</p>

<h2>Последние посты</h2>
<ul>
    @foreach (var post in Model.Posts)
    {
        <li>
            <a href="..@post.Url">@post.Title</a> — @post.Date.ToString("yyyy-MM-dd")
        </li>
    }
</ul>

<p>Список всех постов можно найти в разделе <a href="./archive.html">Архив</a>.</p>
