@model ForneverMind.Models.PostModel

@{
    Layout = "ru/_Layout.cshtml";
    ViewBag.Title = Model.Meta.Title;
}

<div class="info">
    Дата публикации: @Model.Meta.Date.ToString("yyyy-MM-dd")
</div>

@Raw(Model.HtmlContent)

<div id="disqus_thread"></div>

@section scripts {
    <script src="//fornever.disqus.com/embed.js"></script>
}
