<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/media/style_main.css" />
    <link rel="icon" type="image/png" href="/media/icon.png" />
    <meta name="author" content="ForNeVeR" />
    {% block meta %}{% endblock %}
    <title>forNEVERmind</title>
</head>
<body>
    <h1>forNEVERmind / {% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <div class="menu">
        <p><a href="/">Главная страница</a></p>
        <p><a href="/contact/">Контакты</a></p>
        <p><a href="/programming/">Программирование</a></p>
        <p><a href="/robocode/">RoboCode</a></p>
        <p><a href="/files/">Файлы</a></p>
        {% if not username %}
            <p><a href="/login/">Вход</a></p>
        {% else %}
            <p><a href="/logout/">Выход</a></p>

            <p>Вы зашли как {{ username }}.</p>
        {% endif %}
    </div>
    <div style="text-align: center">
        <a href="http://validator.w3.org/check?uri=referer">
        <img style="border:0; width:88px; height:31px"
            src="/media/logos/valid-xhtml11-blue.png" alt="Valid XHTML 1.1" />
        </a>

        <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0; width:88px; height:31px"
            src="/media/logos/vcss-blue.gif" alt="Правильный CSS!" />
        </a>
        
        <a href="http://www.djangoproject.com/">
        <img style="border:0; width:124px; height:25px"
            src="/media/logos/djangomade124x25.gif" alt="Made with Django." />
        </a>
    </div>
</body>
</html>