{% extends "base.html" %}

{% block meta %}
    <meta name="google-site-verification" content="N5ExiiHlnreCnSXqpUpTr0bVUnZUbuWIr28BVQUc3_k" />
    <meta name='yandex-verification' content='5f9491cc0ddc5cc6' />
    <meta name="description" content="Домашняя страница ForNeVeR'а" />
    <meta name="keywords" content="fornevermind" />
{% endblock %}

{% block content %}
    <p>Добро пожаловать на сайт ForNeVeR'а.</p>
    <p>Этот сайт хостится на веб-сервере Apache, все страницы генерируются при
    помощи веб-фреймфорка Django, написанного на языке Python.</p>
    <p>Большая часть содержимого сайта генерируется в страшном бреду и
    <span style="text-decoration: line-through">не может быть использована
    против автора</span> вообще не может быть использована.</p>
{% endblock %}