{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="О программировании" />
    <meta name="keywords" content="программирование, C++, WTF" />
{% endblock %}

{% block title %}Программирование{% endblock %}
{% block content %}
    <h2>Различные проекты</h2>
    <ul>
        <li><a href="http://sourceforge.net/projects/cthulhu-bot/">Cthulhu
            bot</a></li>
        <li><a href="/robocode/">Боты для RoboCode</a></li>
        <li><a href="http://imp.g33k.ru/malco/">malco</a></li>
        <li><a href="http://leechcraft.org">leechcraft</a></li>
    </ul>
    
    <h2>Вопросы на засыпку</h2>
    <ol>
        <li>Что означает конструкция языка C:
            <span class="code">int *(* const * name[3])();</span></li>
        <li>Что означает конструкция
            <span class="code">int F(void (*)(), double(*)[4]);</span></li>
        <li>Что такое <span class="code">void * (*(*fp1)(int))[10];</span></li>
        <li>Кому и зачем, чёрт возьми, может такое понадобиться?!</li>
    </ol>
    <p>Ответы можете отправлять прямиком в /dev/null или передавать лично при
    встрече, желательно в денежном эквиваленте.</p>
    <h2>Эпический код</h2>
    <p>Регулярные выражения в C++-коде выглядят очень страшно. Итак, code of
    the day (взято из последней версии cthulhu-bot):</p>
    <p class="code">const wregex quoted_arg(L"^\"(.*?[^\\\\])\".*");</p>
    <p>А в новой версии (от 29.01.2010) эта строка стала выглядеть ещё
    страшнее:</p>
    <p class="code">const wregex
    quoted_arg(L"^\"(.*?(?&lt;!\\\\)(\\\\\\\\)*)\".*");</p>
    <p>Все эти ужасы связаны со спецификой применения регулярных выражений в
    C++: если слеш должен быть частью регулярного выражения "как есть" (т.е.
    остаться слешем) - его нужно экранировать при передаче внутрь регулярного
    выражения. А поскольку для этого нужно передать два слеша в соответствующей
    строке - каждый из них приходится экранировать ещё раз. В стандарте C++0x
    эта проблема слегка упрощается за счёт введения синтаксиса т.н. raw strings
    в виде <span class="code">r"string \ literal"</span> (что аналогично
    <span class="code">"string \\ literal"</span> в текущей нотации). Это
    позволит в будущем сократить количество экранирующих символов.</p>
    
    <h2>Evil code</h2>
    <p>Да, я знаю, что это никто не читает, и тем не менее - перед вами
    очередная порция страшного кода:</p>
    <p><span class="code">while( iVar --> 0 ) { ... }</span></p>
    <p>Ну и вообще: <a href="http://steike.com/code/useless/evil-c/">Evil
    C</a>.</p>
{% endblock %}