@page
@model ForneverMind.Razor.BasePageModel

<!--
SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>

SPDX-License-Identifier: MIT
-->

@{
    ViewBag.Title = "Страница не найдена";
}

<p>Страницы по этому адресу не существует.</p>
