@{
    Layout = "en/_Layout.cshtml";
    ViewBag.Title = "Contacts";
}

<p>
    <a class="so-badge" href="https://stackoverflow.com/users/2684760/fornever">
        <img src="https://stackoverflow.com/users/flair/2684760.png"
             width="208"
             height="58"
             alt="My Stack Overflow profile"
             title="My Stack Overflow profile" />
    </a>
</p>
<p>My profiles on online resources:</p>
<ul>
    <li><a href="https://github.com/ForNeVeR">GitHub: ForNeVeR</a></li>
    <li><a href="https://twitter.com/fvnever">Twitter: @@fvnever</a></li>
    <li><a href="https://dotnet.social/@@fornever">Mastodon: @@fornever@@dotnet.social</a></li>
</ul>
<p>
    Contact me by email: <a href="mailto:friedrich@fornever.me" class="email">friedrich@fornever.me</a>.
</p>
