@{
    Layout = "en/_Layout.cshtml";
    ViewBag.Title = "Contacts";
}

<p>
    <a class="so-badge" href="http://stackoverflow.com/users/2684760/fornever">
        <img src="http://stackoverflow.com/users/flair/2684760.png"
             width="208"
             height="58"
             alt="my Stack Overflow profile"
             title="my Stack Overflow profile" />
    </a>
</p>
<p>My profiles in “social” networks:</p>
<ul>
    <li><a href="https://github.com/ForNeVeR">GitHub</a></li>
    <li><a href="https://bitbucket.org/ForNeVeR">Bitbucket</a></li>
    <li><a href="https://twitter.com/fvnever">Twitter</a></li>
</ul>
<p>Habrahabr.ru: <a href="http://habrahabr.ru/users/ForNeVeR/">ForNeVeR</a>.</p>
<p>
    Contact me by email: <a href="mailto:friedrich@fornever.me" class="email">friedrich@fornever.me</a>.
</p>
<p>
    Visit our XMPP community: <a href="xmpp:codingteam@conference.jabber.ru">codingteam@conference.jabber.ru</a>.
</p>
