<!--
SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>

SPDX-License-Identifier: MIT
-->

@{
    Layout = "en/_Layout.cshtml";
    ViewBag.Title = "Server Error";
}

<p>An internal server error has been occured while processing the request.</p>
