@model ForneverMind.Models.PostArchiveModel

@{
    Layout = "en/_Layout.cshtml";
    ViewBag.Title = "int 20h";
}

<p>Hello!</p>

<p>My name is Friedrich von Never.</p>

<p>This is my website where I publish my technical and programming notes.</p>

<h2>Latest posts</h2>
<ul>
    @foreach (var post in Model.Posts)
    {
        <li>
            <a href="..@post.Url">@post.Title</a> — @post.Date.ToString("yyyy-MM-dd")
        </li>
    }
</ul>

<p>You can view a list of all the posts in the <a href="./archive.html">Archive</a>.</p>
