<!--
SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>

SPDX-License-Identifier: MIT
-->

@model ForneverMind.Models.PostModel

@{
    Layout = "en/_Layout.cshtml";
    ViewBag.Title = Model.Meta.Title;
}

<div class="info">
    Publication date: @Model.Meta.Date.ToString("yyyy-MM-dd")
</div>

@Raw(Model.HtmlContent)

<div id="disqus_thread"></div>

@section scripts {
    @if (!string.IsNullOrEmpty(Model.Meta.CommentUrl))
    {
        <script>
            var disqus_config = function() {
                this.page.url = '@Model.Meta.CommentUrl';
            }
        </script>
    }
    <script src="//fornever.disqus.com/embed.js"></script>
}
