<!--
SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>

SPDX-License-Identifier: MIT
-->

@{
    Layout = "en/_Layout.cshtml";
    ViewBag.Title = "Talks";
}

<ul>
    <li><a href="/talks/modern-programming/index.html">Modern Programming</a> (<i>in Russian</i>, AltSTU,
        2016-11-18)</li>
    <li><a href="/talks/net-core-slides/index.html">.NET Core</a> (<i>in Russian</i>, Enterra, 2017-03-17)</li>
    <li><a href="/talks/git-basics/index.html">Methods and Tools for Working With Git</a> (<i>in Russian</i>, Enterra,
        2017-04-21)
    </li>
    <li><a href="/talks/talk-javascriptservices/index.html">Isomorphic Web Application Development using ASP.NET Core
        and JavaScriptServices</a> (<i>in Russian</i>, Enterra, 2017-06-08)</li>
</ul>
