{% extends "base.html" %}

{% block title %}RoboCode{% endblock %}
{% block content %}
    <h2>RoboCode</h2>
    
    <p>RoboCode - игра, смысл которой заключается в написании программ на языке
    Java, управляющих роботами-танками.</p>
    
    <p>Официальный сайт: 
    <a href="http://robocode.sourceforge.net/">RoboCode Home</a>.</p>
    
    <h2>Sniper</h2>
    
    <p>Я тоже решил написать своего робота для RoboCode, получилось вот что:
    <a href="/media/robocode/fornever.Sniper_1.0.jar">Sniper 1.0, сборка от 
    03.01.2010</a> (исходный код находится внутри пакета и может быть извлечён
    для просмотра при помощи встроенной функции RoboCode).</p>
    
    <p>Основная особенность робота заключается в постоянном мониторинге карты
    (он запоминает положения всех вражеских роботов) и достаточно точном
    определении их текущего положения даже в условиях недостатка
    информации.</p>
    
    <p>В режиме Debug Painting робот рисует поверх игрового поля своё его
    видение, оранжевые окружности представляют последнее определённое при
    помощи радара положение цели, синие - текущее её предположительное
    положение, красная - точку прицеливания.</p>
{% endblock %}