.header-group {
    display: flex;
    > .languages {
        flex-grow: 0;
        margin-top: 0.35em;
        white-space: nowrap;
    }
    > .header {
        flex-grow: 1;
        margin: 0;
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.2em;
}
