.tag {
    background: #000;
    color: #fff;
    padding: 1px 3px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.25s;

    &.selected {
        border: 2px solid #000;
        background: #fff;
        color: #000;
    }

    &.inactive {
        background: #666;
        color: #ccc;
    }

    &:hover {
        background: #555;
    }
}

blockquote {
    margin: 0;
    padding-left: 2em;
    border-left: 5px #f0f8ff solid;
    overflow: auto;

    p {
        margin: 0.25em 0;
    }
}
