/*
 * SPDX-FileCopyrightText: 2025-2026 Friedrich von Never <friedrich@fornever.me>
 *
 * SPDX-License-Identifier: MIT
 */

@import "~highlight.js/styles/agate.css";

p > code, li > code {
    font-weight: bold;
}

pre {
    padding: 2px;
}

pre, pre > code {
    border-radius: 5px;
    background: #333;
    color: #fff;
}
