name: Main
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test:
    runs-on: ${{ matrix.image }}
    strategy:
      matrix:
        image: [ macos-13, ubuntu-22.04, windows-2022 ]
      fail-fast: false
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages
      NPM_CACHE: ${{ github.workspace }}/.github/npm-cache
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: NPM cache
        uses: actions/cache@v4
        with:
          path: ${{ env.NPM_CACHE }}
          key: ${{ runner.os }}.npm.${{ hashFiles('**/package-lock.json') }}+${{ hashFiles('**/yarn.lock') }}
      - name: NPM cache setup
        run: npm config set cache ${{ env.NPM_CACHE }}

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'
      - name: Install Yarn
        run: npm install -g yarn@1.22.0
      - name: Prepare talks
        shell: pwsh
        run: Scripts/Prepare-Talks.ps1 yarn

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
      - name: NuGet cache
        uses: actions/cache@v4
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.fsproj') }}
      - name: Build
        run: dotnet build --configuration Release
      - name: Test
        run: dotnet test --configuration Release
      - name: Publish
        run: dotnet publish ForneverMind --configuration Release --output publish
